# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Folders
notes/
literature/
code/archive

# LaTeX intermediary files - core
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.synctex.gz

# LaTeX intermediary files - bibliography
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Other 
*_anon*
*_title*
